<main>
      <section class="form-section">
        <h2>Kit Festa</h2>
        <p>Preencha o formulário com as informações do seu evento que entraremos em contato</p>
        <%= form_with url: '#', method: :post do %>
          <div class="form-group">
            <label for="event_type">Tipo de Evento</label>
            <%= text_field_tag :event_type, nil, placeholder: "aniversário, chá de bebe, etc" %>
          </div>
          <div class="form-group">
            <label for="date">Data</label>
            <%= date_field_tag :date, nil %>
          </div>
          <div class="form-group">
            <label for="number_of_people">Número de Pessoas</label>
            <%= number_field_tag :number_of_people, nil %>
          </div>
          <div class="form-group">
            <label for="theme">Tema</label>
            <%= text_field_tag :theme, nil, placeholder: "filme, desenho, etc" %>
          </div>
          <div class="form-group">
            <label for="color">Cor</label>
            <%= text_field_tag :color, nil, placeholder: "cor primária do evento" %>
          </div>
          <div class="form-actions">
            <%= submit_tag 'Enviar evento' %>
            <%= link_to 'Voltar', root_path, class: 'btn btn-secondary' %>
          </div>
        <% end %>
      </section>
</main>
